@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  font-optical-sizing: auto;
  font-weight: 300 700;
  font-style: normal;
}

input[type="hidden"] {
    display: none;
}

@layer base {
  :root {
    --background: 39 43% 95%;
    --foreground: 25 47% 31%;
 
    --card: 39 43% 97%;
    --card-foreground: 25 47% 31%;
 
    --popover: 39 43% 97%;
    --popover-foreground: 25 47% 31%;
 
    --primary: 11 65% 63%;
    --primary-foreground: 39 43% 97%;
 
    --secondary: 147 19% 60%;
    --secondary-foreground: 39 43% 97%;
 
    --muted: 39 43% 90%;
    --muted-foreground: 25 47% 45%;
 
    --accent: 39 43% 90%;
    --accent-foreground: 25 47% 31%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 39 43% 97%;
 
    --border: 39 43% 85%;
    --input: 39 43% 85%;
    --ring: 11 65% 63%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 25 47% 15%;
    --foreground: 39 43% 95%;
 
    --card: 25 47% 18%;
    --card-foreground: 39 43% 95%;
 
    --popover: 25 47% 18%;
    --popover-foreground: 39 43% 95%;
 
    --primary: 11 65% 63%;
    --primary-foreground: 39 43% 97%;
 
    --secondary: 147 19% 60%;
    --secondary-foreground: 39 43% 97%;
 
    --muted: 25 47% 25%;
    --muted-foreground: 39 43% 80%;
 
    --accent: 25 47% 25%;
    --accent-foreground: 39 43% 95%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 39 43% 97%;
 
    --border: 25 47% 25%;
    --input: 25 47% 25%;
    --ring: 11 65% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply text-foreground;
    }
}
